header{
    display: flex;
    height: fit-content;
    gap: 8rem;
}
.headerright{
    margin-top: 7rem;
}
.headerleft{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 900x;
}
header .headerleft p{
    margin-left: 0;
    width: 750px;
}

.headerright button{
    /* background-color: white; */
    color: #4800BD;
    font-size: 18px;
    border-radius: 23px;
    padding: 15px;
    width: 200px;
    
    
}
.headerright button a{
    text-decoration: none;
    font-weight: 600;
}