* {
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
h1, h2, h3, p, a{
    font-family: 'Poppins';
}
.container{
    /* background-color: #B4239A; */
    background-color:rgba(251, 217, 245, 0.5);
    height: 750px;
}

nav{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

}
nav img{
    width: 11rem;
    height: 3rem;
}
.container nav ul{
    display: flex;
    list-style: none;
    gap: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
   
}

nav ul li{
    display: inline-block;
    padding-left: 2rem;
}


/* .container .nav-links{
    display: flex;
    text-align: center;
    align-items: center;
} */
nav ul a{
    display: block;

    text-decoration: none;
    font-family: 'Poppins';
    color:#4800BD;
    font-size: larger;
    font-weight:600;
    margin: 0;
    padding: 0;
    text-align: center;

}

.switch{
  display: none;
}

.switch img{
    width: 25px;
    height: 30px;
    display: flex;
    display: none;
}
.switch .close-icon{
    color: rgb(82, 9, 9);
    /* display: none; */
}
header{
    height: 460px;
    background-color:#4800BD;
    margin: 0 2rem;
    border-radius: 2rem;
    padding: 4rem;
    display: flex;
    /* align-items: center; */
    position: relative;
    overflow: hidden;
    /* width:auto; */
}
header .headerleft{
    color: white;
}
header .headerleft h3{
    font-weight:300;
    
    word-spacing: 0.3rem;
    letter-spacing: 10px;
}

/* .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */
header .headerleft h1{
    font-size: 45px;
    margin-top: 2rem;
    width: 700px;
    font-style: normal;
    line-height: 3rem;;
}
header .headerleft p{
    margin-top: 3rem;
    margin-left: 0;
    width: 440px;
    font-style: normal;
}
header .headerleft button{
    background-color: white;
    margin-top:3rem;
    padding: 1rem;
    border: none;
    border-radius: 14px;
    width: 19rem;
    background-color:rgba(244, 239, 243, 0.9)


}
header .headerleft a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    background-color: ;

    font-weight: 600;
}
header img{
    margin-left: 30rem;
    margin-top: -5rem;
    /* width: 799px; */
    /* overflow: hidden; */
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    /* display: block; Ensure the image behaves as a block element */
    position: absolute; 
    /* top: 0; /* Align the top of the image with the top of the container */
    /* left: 0; Align the left of the image with the left of the container */
    /* right: 0; Align the right of the image with the right of the container */
    /* bottom: 0; Align the bottom of the image with the bottom of the container */ 
    /* margin: auto;  */
}
.circle-p{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #C11B8F;
    position: absolute;
    margin-left: 42rem;
}
.circle-y{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color:#E8B03A;
    position: absolute;
    margin-left: 43rem;
    margin-top: 27rem;
}

.circle-g{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color:#6CF5E2;
    position: absolute;
    margin-left: 69rem;
    margin-top: 4rem;
}
ul .dd-list{
    position: relative;
}

.container ul .dropdown-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #e4dcdc;
    z-index: 1;
    padding: 1rem;
    border-radius: 20px;
    gap: 10px;
    width: 10rem;
    align-items: center;
}
ul .dropdown-menu a{
    font-size: 15px;
    margin-left: 0;
    padding: 0;
    
}


.featured_courses{
    padding: 3rem;
    margin-left: 4rem;

}
.featured_courses h1{
    font-size: 35px;
    color: #C11B8F;

}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;

}
.course{
    background-color: rgba(255, 141, 235, 0.07);
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgba(138, 130, 130, 0.9);

    max-width: 336px; /* Set the maximum width of the container */
    width: 100%;
    height: 100%;
    position: relative;

}

.featured_courses .courses .course a{
    text-decoration: none;
    background-color: rgb(79, 79, 105);
    color: white;
    border-radius: 10px;
    padding: 1rem 2rem;
    text-align: center;
    justify-self: center;
    margin-left: 25%;
    position: absolute;
    top: 94%;
    left: 6%;
    transition: 0.5s;
}
.featured_courses .courses .course a:hover{
    background-color: rgb(202, 202, 223);
    color: #28262d;

}
/* .featured_courses .courses .course1 .footer,
.featured_courses .courses .course2 .footer
{
    margin-top: 7rem;
} */
.course img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 50%;
    object-fit: cover;
    
}
.course h3,p{
    margin: 1.3rem 1.5rem;
}
.course h3{
    font-weight: 600;
}
.course p{
    font-size: 13px;
}
.course .footer p{
    font-size: 13px;
    font-weight: 600;


}
.course .footer{
    display: flex;
    justify-content:space-evenly;
    align-items: centers;
    bottom: 0;
    

}
.course .footer .int{
    display: flex;
    justify-content: center;
    align-items: center;
}
.course .footer .int ii{
background-color: red;    
}

.browse_category{
    padding: 3rem;
    padding-left: 4rem;
    background-color: #f1eef6;

}
.browse_category h1{
    font-size: 35px;
    color: #C11B8F;
}
.categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;

}
.category{
    position: relative; /* Set container to relative position */
    display: inline-block;
    width: 280px;
    
}
.category img{
    display: block; /* Ensure the image behaves as a block element */
    max-width: 100%;
}
.category h2{
    position: absolute; /* Position the text absolutely */
    bottom: 10px; /* Adjust the distance from the bottom */
    color: white; /* Set text color */
    padding-left: 7rem;
    margin: 0;
    font-size: 20px;
}


.why_choose_us{
    padding: 3rem;
    padding-left: 4rem;
    background-color: rgb(245, 249, 247);
}

.why_choose_us h1{
    font-size: 35px;
    color: #C11B8F;
}
.lists{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;

}
.list{
    display: flex;
    border-radius: 18px;
    box-shadow: 1px 4px 4px rgba(167, 161, 161, 0.7);
    max-width:500px;
    height: 130px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
}
.list img{
    width: 70px;
    height: 70px;
    /* background-color: #bbb1c7; */
    background-image: linear-gradient(to bottom, #a281cb, #f8f8fa); /* Example gradient from red to blue */

    border-radius: 50%;
    padding: 10px;

}
.text{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: left;

}
.text h3{
    width: 20rem;
    padding-left: 25px;
    padding-top: 20px;
}
.text p{
    font-size: 10px;
}
.testimonials{
    padding: 3rem;
    padding-left: 4rem;
    background-color:#f1eef6;

}
.testimonials h1{
    font-size: 35px;
    color: #C11B8F;

}
.testimonials_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 2rem;
    /* max-width: 900px;
    width: 100%; */
    overflow: hidden;
}
.testimony{
    display: flex;
    background-color: #4800BD;
    border-radius: 24px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 300px;
}
.testimony .text{
    color: white;
    width: 490px;
}
.star{
    color: yellow;;
}
.testimony .text h3{
    margin-top: -44px;
}
.testimony .text p{
    font-size: 13px;
}
.imgt {
    height: 200px;
    width: 200px;
}
.qt{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.upcoming_trainings{
    padding: 3rem;
    padding-left: 4rem;

}
.upcoming_trainings h1{
    font-size: 35px;
    color: #C11B8F;

}
.trainings{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;

}
.training{
    background-color: rgba(255, 141, 235, 0.07);
    border-radius: 20px;
    box-shadow: 1px 0px 2px rgba(138, 130, 130, 0.9);

    max-width: 336px; /* Set the maximum width of the container */
    width: 100%;
    height:70%;
    position: relative;

}
.training img{
    width: 100%;
    height: 50%;
    
}
.training h3,p{
    margin: 1.3rem 1.5rem;
}
.training h3{
    font-weight: 600;
}
.training p{
    font-size: 13px;
}
.training button{
    
    font-size: 20px;
    border: 1px solid rgb(169, 179, 132);
    border-radius: 13px;
    width: 100px;
    height: 40px;
    color: #C11B8F;
    left: 33%;
    position:absolute;
    cursor: pointer;
    
}
.training button:hover{
    background-color: white;
    color: #492a40;

}


.whatsapp-icon {
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    z-index: 9999;
    cursor: pointer;
  }
  
  .whatsapp-icon img {
    width: 60%; /* Adjust as needed */
    height: auto;
  }
  

.our_partners_clients{
    padding: 1rem;
    background-color: rgb(248, 249, 249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;

}

.our_partners_clients h1{
    font-size: 35px;
    color: #C11B8F;
    text-align: center;
    margin-bottom: 0;

}

.our_partners_clients .partners .partners_icons {
    display: flex;
    overflow:-moz-hidden-unscrollable;
    width: 50%; /* Adjust as needed */
    gap: 19rem;
}

.our_partners_clients .partners .partners_icons img {
    flex-shrink: 0;
    width: 50%;
    transition: transform 0.5s ease;
    animation: slideImage 25s linear infinite; /* Adjust duration as needed */
    object-fit: contain;

}
@keyframes slideImage {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(-400%); }
}
/* .our_partners_clients .clients{
    background-color:rgb(234, 238, 236) ;
    width: 100%;
    margin: 0;
} */

.our_partners_clients .clients .client_icons{
    display: flex;
    overflow:-moz-hidden-unscrollable;
    width: 50%; 
    gap: 3rem;
    margin-left: -80rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

}
.our_partners_clients .clients .client_icons img{
    width:230px;
    height: 180px;
    flex-shrink: 0;
    width: 50%;
    transition: transform 0.3s ease;
    animation: slideImage2 20s linear infinite; /* Adjust duration as needed */
    object-fit: contain;
}
@keyframes slideImage2 {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(100%); } /* Move to the right */
    45% { transform: translateX(100%); } /* Move to the right */
    50% { transform: translateX(200%); } /* Move to the right */
    70% { transform: translateX(200%); } /* Move to the right */
    75% { transform: translateX(300%); } /* Move to the right */
    95% { transform: translateX(300%); } /* Move to the right */
    100% { transform: translateX(400%); } /* Move to the right */
}
.newsletter{
    padding: 3rem;
    padding-left: 4rem;
    background-color:#f1eef6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter h2{
    font-size: 40px;
    font-weight: 600;
}
.newsletter p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
}
.newsletter input{
    border: none;
    padding: 20px;
    height: 20px;
    width: 320px;
    border-radius: 20px 0px 0px 20px;
    font-size: 20px;

}
.newsletter input::placeholder{
    color: rgba(97, 88, 88, 0.4);
    font-family: "Poppins";
}

.subscribe a{
    border: none;
    padding: 20px;
    height: 19px;
    border-radius: 0px 20px 20px 0px;
    background-color: #C11B8F;
    text-decoration: none;
    color: white;
    width: 100px;
}
.subscribe{
    display: inline-flex; /* Use inline-flex to make them appear in the same line */
    align-items: center; 
}

.newsletter .circle-p{
    margin-left: 55rem;
    margin-top: -10rem;
}
.newsletter .circle-g{
    margin-left: -70rem;
    margin-top: -10rem;
}
.newsletter .circle-y{
    margin-top: 10rem;
}

footer{
    background-color: #AD47B2;
    padding: 3rem;
    padding-left: 4rem;
    display: grid;
    grid-template-columns: 540px auto auto;
    color: white;
    gap: 15px;
}

footer .socials{
    display: flex;
    gap: 10px;
    margin-left: 0.6rem;

}
footer h3{
    font-weight: 600;
    font-size: 15px;
    margin-left: 0.6rem;
}
footer p{
    font-size: 12px;
    margin-left: 0.6rem;

}
footer img{
    width: 270px;
    height: 70px;
}

.second{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.third{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10rem;
}
footer a{
    text-decoration: none;
    color: white;
}

footer h5{
    font-size: 20px;
}

/* ==============responsive============== */
@media only screen and (max-width:600px){
    &,::before,::after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
   
    body{
        margin: 0;
        padding: 0;
        background-color: white;
        max-width: auto;
    }
  
    
    h1, h2, h3, p, a{
        font-family: 'Poppins' sans-serif;
    }
    .container{
        /* background-color: #B4239A; */
        background-color:rgba(251, 217, 245, 0.5);
        height: 700px;
        max-width:fit-content;
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
        display: block;
        justify-content: center;
        
    }

    .container nav{
        background-color: transparent;
        display: flex;
        justify-content:space-evenly;
        align-items:center;
        padding: 0;
        margin: 0 0;
        gap: 30%;
        width: 100%;
        overflow: hidden;
    
    }
    .container nav img{
        width: 6rem;
        height: 2rem;
        margin: 10px 0;
    }
    .container nav ul{
        display: none;
        flex-direction: column;
        list-style: none;
        list-style-type: none;

        gap:1rem;
        position:absolute;
        background-color: white;
        padding: 0;
        top: 0;
        margin:0;
        left: 0;
        align-items:flex-start;
        /* margin-right: 0; */
        z-index: 1;
        width: 70%;
        overflow: hidden;
        /* justify-content: left; */
        /* text-align: left; */
        justify-items: center;
        justify-content: center;

        height:auto;
    }
    .container nav ul li{
        display: inline-block;
      

    }

    .container nav ul li a{
        font-size: 15px;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .container nav ul .dropdown-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #dedce4;
        padding: 10px;
        border-radius: 20px;
        gap: 10px;
        width: max-content;
        z-index: 1;
        margin-left: -5%
        ;
    }
    .container nav ul .dropdown-menu a{
        font-size: 13px;
        
    }
    
    .container nav .switch{
        display: block;
        /* margin-left: 10rem; */
      }

      .container nav .switch .close-icon{
        display: none;
        cursor: pointer;
        margin-left: 0;
        margin-top: 0;
   

      }
      .container nav .switch img{
        display: block;
        margin: auto;
        width: 30px;

    }
    .container header{
        height:80%;
        background-color:#4800BD;
        margin: 0 auto;
        border-radius: 2rem;
        padding: 30px;
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        flex-direction: column;
        position: relative;
        width:75%;
        overflow: hidden;
        ;
    }
    .container header .headerleft{
        color: white;
        margin: 0rem 0;
        margin-left: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        overflow: hidden;
        text-align: center;
        align-items: center;
    }
    .container header .headerleft h3{
        font-weight:300;
        
        word-spacing: 5px;
        letter-spacing: 1px;
        text-align:center;
        margin-left: 0;
    }
    
    /* .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      } */
      .container header .headerleft h1{
        font-size: 23px;
        margin-top: 2rem;
        margin: 1rem 0;
        margin-left: 0;
        width:100%;
        font-style: normal;
        line-height: 2rem;
        text-align: center;
    }
    .container header .headerleft p{
        margin-top: 1rem;
        width:90%;
        font-style: normal;
        font-size: 13px;
        text-align: center;
        margin-left: 15px;
        padding:0;
        

        


    }
    .container header .headerleft button{
        background-color: white;
        margin-top:8%;
        padding: 11px;
        margin-left: 0;
        border: none;
        border-radius: 14px;
        width: 70%;
        background-color:rgba(244, 239, 243, 0.9)
    
    
    }
    .container header .headerleft a{
        text-decoration: none;
        color: black;
        font-size: 16px;
    
        font-weight: 600;
        text-align: center;
        /* margin-left: 8rem; */
    }
    .container header img{
        margin-left: -14%;
        margin-top:94%;
       
        /* overflo: hidden; */
        width: 100%; /* Ensure the image doesn't exceed the container's width */
        height:auto; /* Automatically adjust height to maintain aspect ratio */
        /* display: block; Ensure the image behaves as a block element */
        /* position: static;  */
        position:absolute;
        /* text-align: center; */
        object-fit:cover;
    }
    .circle-p{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #C11B8F;
        position: absolute;
        margin-left: 1px;
        margin-top: 20rem;
    }
    .circle-y{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color:#E8B03A;
        position: absolute;
        margin-left: 16rem;
        margin-top: 20rem;
    }
    
    .circle-g{
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color:#6CF5E2;
        position: absolute;
        margin-left: 40%;
        margin-top: 34rem;
    }
    .featured_courses{
        padding:0;
        padding-left: 0;
        margin-top: 2rem;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    
    }
    .featured_courses h1{
        font-size: 25px;
        color: #C11B8F;
        width: 80%;
    
    }
    .featured_courses .courses{
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        overflow: hidden;
        padding: 1rem 0;
        margin-left: 10px;

        
    
    }
    .featured_courses  .courses .course{
        background-color: rgba(255, 141, 235, 0.07);
        border-radius: 20px;
        box-shadow: 1px 2px 3px rgba(138, 130, 130, 0.9);
    
         /* Set the maximum width of the container */
        width: 90%;
        margin: 1rem 0;
    
    }
    .featured_courses  .courses .course img{
        width: 100%;
        
    }
    .featured_courses  .courses .course h3,p{
        margin: 1.3rem 1.5rem;
    }
    .featured_courses  .courses .course h3{
        font-weight: 600;
        font-size: 14px;
    }
    .featured_courses  .courses .course p{
        font-size: 11px;
        margin-bottom: 2rem;
    }

    .featured_courses .courses .course a{
        text-decoration: none;
        background-color: rgb(79, 79, 105);
        color: white;
        border-radius: 10px;
        padding: 0.9rem 1.8rem;
        text-align: center;
        justify-self: center;
        margin-left: 25%;
        position: absolute;
        top: 94%;
        left: 7.8%;
        font-size: smaller;
    }
    .featured_courses .courses .course a:hover{
        background-color: rgb(202, 202, 223);
        color: #28262d;
    
    }
    
    
    .browse_category{
        padding: 10px;
        padding-left: 1px;
        background-color: #f1eef6;
    
    }
    .browse_category h1{
        font-size: 25px;
        color: #C11B8F;
    }
    .categories{
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        overflow: hidden;
    
    }
    .category{
        position: relative; /* Set container to relative position */
        display: inline-block;
        max-width: 100%;
        width: 95%;
        
    }
    .category img{
        display: block; /* Ensure the image behaves as a block element */
        max-width: 100%;
        width: 100%;
    }
    .category h2{
        position: absolute; /* Position the text absolutely */
        bottom: 10px; /* Adjust the distance from the bottom */
        color: white; /* Set text color */
        padding-left: 0;
        margin-left: 2rem;
        font-size: 20px;
    }
    
    
    .why_choose_us{
        padding: 0;
        padding-left: 0;
        background-color: rgb(245, 249, 247);
        margin: 1rem 0;
        width: 100%;
        overflow: hidden;
    }
    
    .why_choose_us h1{
        font-size: 25px;
        color: #C11B8F;
        padding: 1rem;
    }
    .why_choose_us .lists{
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-top:0;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        width: 98%;
        margin-right: 0;
        padding: 5px;
        overflow: hidden;
    
    }
    .why_choose_us .lists .list{
        display: flex;
        border-radius: 18px;
        box-shadow: 1px 4px 4px rgba(167, 161, 161, 0.7);
        width: 100%;
        height:100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        gap: 9px;
        background-color: white;
        margin-left: 0;
        margin-right: 0;
    }
    .why_choose_us .lists .list img{
        width: 35px;
        height: 35px;
        /* background-color: #bbb1c7; */
        background-image: linear-gradient(to bottom, #a281cb, #f8f8fa); /* Example gradient from red to blue */
    
        border-radius: 50%;
        padding: 3px;
        padding-right: 1px;

        margin-left: 16px;
    
    }
    .why_choose_us .lists .list .text{
        display: flex;
        flex-direction: column;
        font-size: 9px;
        text-align: left;
        justify-content: center;
        width: 100%;
        margin-right: 10px;
        overflow: hidden;
        gap: 6px;

    
    }
    .why_choose_us .text h3{
        width:100%;
        padding-left: 20px;
        padding-top: 10px;
        margin-right: 0;
        text-align: left;
    }
    .why_choose_us .text p{
        font-size: 8px;
        width: 90%;
        margin-top: 1px;
        margin-right: 3rem;
        
    }
    .testimonials{
        padding: 0 10px;
        margin: 1rem 0;
        background-color:#f1eef6;
    
    }
    .testimonials h1{
        font-size: 26px;
        color: #C11B8F;
    
    }
    .testimonials_list{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 10px;
        /* max-width: 900px;
        width: 100%; */
    }
    .testimony{
        display: flex;
        flex-direction: column;
        background-color: #4800BD;
        border-radius: 24px;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .testimony .text{
        color: white;
        width: 100%;
        margin-left: 0;
        margin-top: -10%;
        line-height: 20px;
    }
    .star{
        color: yellow;;

    }
    .testimony .text h3{
        margin-top: -46px;
    }
    .testimony .text p{
        font-size: 10px;
    }
    .imgt {
        height: 150px;
        width: 150px;
    }
    .qt{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    
    }
    
    .upcoming_trainings{
        padding: 10px;
        padding-left: 10px;
        margin-top: 4rem;
    
    }
    .upcoming_trainings h1{
        font-size: 25px;
        color: #C11B8F;
    
    }
    .trainings{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    
    }
    .training{
        background-color: rgba(255, 141, 235, 0.07);
        border-radius: 20px;
        box-shadow: 1px 0px 2px rgba(138, 130, 130, 0.9);

    
        max-width: 100%; /* Set the maximum width of the container */
        width: 90%;
        position: relative;
    
    }
    .training img{
        width: 100%;
        
    }
    .training h3,p{
        margin: 1.3rem 1.5rem;
    }
    .training h3{
        font-weight: 600;
    }
    .training p{
        font-size: 13px;
        margin-bottom: 2rem;
    }
    .training button{
        font-size: 15px;
    border: 1px solid rgb(169, 179, 132);
    border-radius: 13px;
    width: 100px;
    height: 40px;
    color: #C11B8F;
    left: 31%;
    bottom: -5%;
    position:absolute;
    cursor: pointer;
    }
    

   .whatsapp-icon {
        position: fixed;
        bottom: 10%; /* Adjust as needed */
        right: 10%; /* Adjust as needed */
        z-index: 9999;
        cursor: pointer;
        width: 20%;
        margin: 0;
        padding: 0;
      }

      .whatsapp-icon a img{
        width: 100%;
      }

     

   

    .our_partners_clients{
        padding: 1rem 0;
        background-color: rgb(248, 249, 249);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
        width: 100%;
        margin-top: 5rem;
    
    }
    
    .our_partners_clients h1{
        font-size: 35px;
        color: #C11B8F;
        text-align: center;
        margin-bottom: 0;
        width: 90%;
    
    }
    
    .our_partners_clients .partners{
        width: 90%;
        margin: 1rem 0;
        overflow: hidden;
    }

    .our_partners_clients .clients{
        width: 90%;
        margin: 1rem 0;
        overflow: hidden;

    }
    .our_partners_clients .partners .partners_icons {
        display: flex;
        overflow:-moz-hidden-unscrollable;
        width: 50%; /* Adjust as needed */
        gap: 5rem;
    
    }
    
    .our_partners_clients .partners .partners_icons img {
        flex-shrink: 0;
        width: 50%;
        transition: transform 0.5s ease;
        animation: slideImage 25s linear infinite; /* Adjust duration as needed */
        object-fit: contain;
        overflow: hidden;
    
    }
    
    .our_partners_clients .clients .client_icons{
        display: flex;
        overflow:-moz-hidden-unscrollable;
        width: 40%; 
        gap: 3rem;
        margin-left: -40rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    
    }
    .our_partners_clients .clients .client_icons img{
        height: auto;
        flex-shrink: 0;
        width: 30%;
        transition: transform 0.3s ease;
        animation: slideImage2 20s linear infinite; /* Adjust duration as needed */
        object-fit: contain;
    }

    .our_partners_clients .partners .partners_icons img,
    .our_partners_clients .clients .client_icons img {
        width: 100%; /* Full width for smaller screens */
    }
    .our_partners_clients h1 {
        font-size: 1.5rem; /* Decrease font size for smaller screens */
    }
   
      .whatsapp-icon img {
        width: 20%; /* Adjust as needed */
        height: auto;
      }
      
    .newsletter{
        padding: 30px;
        background-color:#f1eef6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .newsletter h2{
        font-size: 22px;
        font-weight: 600;
        width: 100%;
    }
    .newsletter p{
        font-size: 10px;
        font-weight: 400;
        margin-top: 8px;
        width: 100%;
    }
    .newsletter input{
        border: none;
        padding: 13px;
        height: 15px;
        width: 150px;
        border-radius: 13px 0px 0px 13px;
        font-size: 13px;
        margin-left: 4%;

    
    }
    .newsletter input::placeholder{
        color: rgba(97, 88, 88, 0.4);
        font-family: "Poppins";
    }
    
    .subscribe a{
        border: none;
        padding: 11px;
        height: 20px;
        border-radius: 0px 20px 20px 0px;
        background-color: #C11B8F;
        text-decoration: none;
        color: white;
        width: 66px;
        font-size: 13px;
    }
    .subscribe{
        display: inline-flex; /* Use inline-flex to make them appear in the same line */
        align-items: center; 
    }
    
    .newsletter .circle-p{
        margin-left: 0;
        padding-left: -2rem;
        margin-top: -5rem;
        display: none;
    }
    .newsletter .circle-g{
        margin-left: 1px;
        margin-top:8rem;
    }
    .newsletter .circle-y{
        margin-top: -7rem;
        margin-left: 0;
        display: none;

    }
    
    footer{
        background-color: #AD47B2;
        padding: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
                color: white;
        gap: 15px;
        text-align: center;
        overflow: hidden;
    }
    
    footer .socials{
        display: flex;
        gap: 10px;
        margin-left: 0;
        text-align: center;
        justify-content: center;
    
    }
    footer h3{
        font-weight: 600;
        font-size: 15px;
        margin-left: 1px;
    }
    footer p{
        font-size: 12px;
        margin-left: 1px;
    
    }
    footer img{
        width: 270px;
        height: 70px;
        margin-top: 1rem;
    }
    
    .second{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .third{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 1px;
    }
    footer a{
        text-decoration: none;
        color: white;
    }
    
    footer h5{
        font-size: 20px;
    }
}
